<div class="container">
  <h2>新規投稿</h2>
    <div class="form-group">
      <label for="question">【質問】</label>
      <textarea class="form-control initial-height" rows="4" id="question"></textarea>
    </div>

    <div class="form-group">
      <label for="details">【詳細】</label>
      <textarea class="form-control initial-height" rows="5"  id="details"></textarea>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary btn-block btn-lg" data-disable-with="送信">
    </div>
</div>

<section id="questions">
  <div class="container">
      <div class="question-container">
        <a href="">
          <div class="question">
            <div class="row">
              <div class="col-md-7">
                <div class="title-container">
                  <p class="title">
                    rails new でアプリを作った後、
                    bundle exec rake db:createを実行してもエラーが出てしまいデータベースが作れません
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="info text-right">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="question-container">
        <a href="">
          <div class="question">
            <div class="row">
              <div class="col-md-7">
                <div class="title-container">
                  <p class="title">
                    画像更新時に Undefined Method Scale In CarrierWave というエラーが出る
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="info text-right">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="question-container">
        <a href="">
          <div class="question">
            <div class="row">
              <div class="col-md-7">
                <div class="title-container">
                  <p class="title">
                    Dockerアプリをクローンからのデプロイってどうやればいいんでしょうか？
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="info text-right">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="question-container">
        <a href="">
          <div class="question">
            <div class="row">
              <div class="col-md-7">
                <div class="title-container">
                  <p class="title">
                    `rails new hello_sample -d mysql`  でアプリが立ち上げられない
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="info text-right">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
  </div>
</section>
