<div class="container">
  <h2>新規投稿</h2>
    <div class="form-group">
      <label for="question">【質問】</label>
      <textarea class="form-control initial-height" rows="4" id="question"></textarea>
    </div>

    <div class="form-group">
      <label for="details">【詳細】</label>
      <textarea class="form-control initial-height" rows="5"  id="details"></textarea>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary btn-block btn-lg" data-disable-with="送信">
    </div>
</div>
