@import "bootstrap/scss/bootstrap";

.alert-notice {
    @extend .alert-info;
  }

  .alert-alert {
    @extend .alert-danger;
  }

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.container p {
  width: 680px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.table {
  margin: auto;
  width: 65%;
  max-width: 65%;
}

table .w-1 {
  width: 10%;
}
