@import "bootstrap/scss/bootstrap";

.alert-notice {
    @extend .alert-info;
  }

.alert-alert {
  @extend .alert-danger;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.table {
  margin: auto;
  width: 65%;
  max-width: 65%;
}

table .w-1 {
  width: 10%;
}

.container {
  width: 680px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.question-container {
  padding: 30px 0;
}

.no-gutters {
  margin-left: 15px
}

#questions a {
  text-decoration: none;
  display: block;
  color: #333333;
  border: solid 2px #505050;
  border-radius: 10px;
  transition: .4s;
  margin: 30px 0;
}

#questions .question{
  padding: 10px;
}
